services:
  jasmine:
    build:
      context: ./
      network: host
    environment:
      - "JASMINE__SERVER__HOST=${JASMINE__SERVER__HOST:-0.0.0.0}"
      - "JASMINE__SERVER__PORT=${JASMINE__SERVER__PORT:-10620}"
      - "JASMINE__COOKIES__DOMAIN=${JASMINE__COOKIES__DOMAIN:-}"
      - "JASMINE__SECRETS__AUTH=${JASMINE__SECRETS__AUTH:-secret}"
      - "JASMINE__URLS__PUBLIC=${JASMINE__URLS__PUBLIC:-http://localhost:10620}"
      - "JASMINE__BEAVER__HTTP__SCHEME=${JASMINE__BEAVER__HTTP__SCHEME:-http}"
      - "JASMINE__BEAVER__HTTP__HOST=${JASMINE__BEAVER__HTTP__HOST:-localhost}"
      - "JASMINE__BEAVER__HTTP__PORT=${JASMINE__BEAVER__HTTP__PORT:-10500}"
      - "JASMINE__BEAVER__HTTP__PATH=${JASMINE__BEAVER__HTTP__PATH:-}"
      - "JASMINE__NUMBAT__HTTP__SCHEME=${JASMINE__NUMBAT__HTTP__SCHEME:-http}"
      - "JASMINE__NUMBAT__HTTP__HOST=${JASMINE__NUMBAT__HTTP__HOST:-localhost}"
      - "JASMINE__NUMBAT__HTTP__PORT=${JASMINE__NUMBAT__HTTP__PORT:-10600}"
      - "JASMINE__NUMBAT__HTTP__PATH=${JASMINE__NUMBAT__HTTP__PATH:-}"
      - "JASMINE__SCORPION__PUBLIC__SCHEME=${JASMINE__SCORPION__PUBLIC__SCHEME:-http}"
      - "JASMINE__SCORPION__PUBLIC__HOST=${JASMINE__SCORPION__PUBLIC__HOST:-localhost}"
      - "JASMINE__SCORPION__PUBLIC__PORT=${JASMINE__SCORPION__PUBLIC__PORT:-20000}"
      - "JASMINE__SCORPION__PUBLIC__PATH=${JASMINE__SCORPION__PUBLIC__PATH:-}"
      - "JASMINE__SCORPION__PUBLIC__CLIENT=${JASMINE__SCORPION__PUBLIC__CLIENT:-jasmine}"
      - "JASMINE__SCORPION__PUBLIC__SECRET=${JASMINE__SCORPION__PUBLIC__SECRET:-secret}"
      - "JASMINE__DEBUG=${JASMINE__DEBUG:-true}"
    network_mode: host
